{
    "extends": "airbnb-base",
    "env": {
        "browser": true,
        "node": true
    },
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "react-hooks"
    ],
    "rules": {
        "react/prop-types": 2,
        "react/require-default-props": 2,
        "indent": [
            "error",
            4
        ],
        "linebreak-style": [
            "error",
            "windows"
        ],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error"
    }
}
