{
    "extends": "stylelint-config-airbnb",
    "plugins": [
        "stylelint-scss",
        "stylelint-order"
    ],
    "rules": {
        "indentation": 4
    },
    "ignoreFiles": [
        "./build/css/*.css"
    ]
}
