{
    "extends": "stylelint-config-airbnb",
    "plugins": [
        "stylelint-scss",
        "stylelint-order"
    ],
    "rules": {
        "indentation": 4,
        "number-leading-zero": "always",
        "at-rule-empty-line-before": [
            "always", { "ignoreAtRules": ["import"] }]
    },
    "ignoreFiles": [
        "./build/css/*.css"
    ]
}
